@font-face{font-family:PFDinDisplayPro;src:url(PFDinDisplayPro-Regular.eot);src:local('☺'),url(PFDinDisplayPro-Regular.woff) format('woff'),url(PFDinDisplayPro-Regular.ttf) format('truetype'),url(PFDinDisplayPro-Regular.svg) format('svg');}
html {scroll-behavior: smooth; min-height: 100vh;}
body {background: url(background.jpg); position: relative; background-repeat: repeat; box-sizing: border-box; min-height: 100vh; margin: 0px auto; min-width: 320px; font-family: PFDinDisplayPro; font-size: 18px; font-weight: 400; line-height: 1.5; color: #333; display: flex; flex-wrap: wrap; justify-content: space-between;}
aside, main {position: relative; min-height: 1px;}
header {position: absolute; z-index: 1; left: 25%; width: 75%; height: 80px; background: #fff; box-shadow: 0px 0px 10px #ccc;}
aside {width: 25%; display: block; z-index: 2; background: linear-gradient(45deg, #153253, #132840); box-shadow: 0px 0px 5px #333;}
main {width: calc(75% - 150px); display: block; padding: 75px 75px 0px;}
main > section {padding: 30px 0px; border-bottom: dashed #dedede;}
main > section:last-child {border: none; margin-bottom: 30px;}
footer {position: absolute; z-index: 1; left: 25%; width: 75%; height: 80px; bottom: 0;}
ul {padding-inline-start: 0px;}
li {list-style-type: none;} 
.punkti {padding: 0px 50px 20px;}
.rs {height: 40px;}
.podval {padding: 0px 75px; display: flex; justify-content: space-between;}
.punkti li {padding-bottom: 8px; font-size: 20px;}
.contacts {color: #fff; font-size: 14px; padding: 0 20px;}
.levo {position: sticky; top: 0px;}
.inst {float: left;}
.levo img {width: 100%;}
.row {display: flex; margin: 30px -30px 30px;}
#summary {padding-top: 60px;}
#skills  {margin: 0px;}
#skills i {font-size: 40px; display: block; transition: 0.8s; color: #aaa; padding-bottom: 10px;}
#skills ul>li>div {transition: 0.8s; text-decoration: none; padding-bottom: 10px; background-image: linear-gradient(#fff, #fff); background-position: 0% 100%; background-repeat: no-repeat; background-size: 0% 2px;}
#skills i:hover {font-size: 40px; display: block; color: #3e7ec8;}
#skills ul>li>div:hover {background-image: linear-gradient(to right,  #ffffff, #ff0000, #ffffff 100%); background-position: 0 100%; background-size: 100% 2px; background-repeat: no-repeat; color: #3e7ec8;}
#skills li {width: 33.3333%; float: left; font-size: 14px;}
#code pre {display: block; background: #f7f7f7; padding: 20px; max-width: 250px;}
.row p {margin: 0px;}
.column1, .column2 {padding: 0px 30px; width: 50%; -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both;}
.column1 p , .column2 p {text-align: justify;}
.column1 {background: linear-gradient(135deg, #ffffff, #ff0000, #ffffff); background-position: 100% 0; background-size: 1px 100%; background-repeat: repeat-y;}
.column2 {background: linear-gradient(135deg, #ffffff, #ff0000, #ffffff); background-position: 0 0; background-size: 1px 100%; background-repeat: repeat-y;}
.column11, .column12, .column13 {width: 33.333333%; -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both;}
.column41, .column42 {width: 50%; padding: 0px 30px; -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both;}
.column11 ul, .column12 ul {max-width: 270px;}
.column11 div, .column12 div {display: block; max-width: 60px; text-align: center; margin-bottom: 15px;}
.institut {display: block;}
.institut p {line-height: 20px; padding-top: 4px; margin: 25px 0px;}
.institut span {font-size: 14px; color: #777;}
.institut img {height: 70px; padding-right: 10px;}
.contacts p {font-size: 24px; text-align: center; letter-spacing: 2px;}
.bi {width: 30px; display: inline-block;}
#projects .row {align-items: center; margin: 50px 0px; padding: 50px; position: relative; z-index: -2; justify-content: space-between;}
#projects .row:nth-child(2) {background: rgba(197,197,197,0.1);}
#projects .row:nth-child(3) {background: rgba(153,201,255,0.1);}
#projects .row:nth-child(4) {background: rgba(197,197,197,0.1);}
#projects .row:nth-child(5) {background: rgba(153, 255, 242, 0.1);}
.lang {display: block;} 
.punkti {margin: 0 auto; max-width: 230px; padding: 0px 0px 20px;}
.contacts a {color: #fff; text-decoration: none;}
.lang p {line-height: 20px; margin: 40px 0px;}
.imac {background: url(imac.png); background-size: contain; background-repeat: no-repeat; width: 320px; height: 250px;}
.iphone {background: url(iphone.png); background-size: contain; background-repeat: no-repeat; width: 180px; height: 250px;}
.vright {width: 50%; text-align: center; padding-left: 150px;}
.vleft {width: 50%; text-align: center; padding-right: 150px;}
.vid {height: 180px; width: 300px; object-fit: cover; padding: 10px; position: relative; z-index: -1;}
.vidm {height: 240px; width: 110px; object-fit: cover; padding: 7px 10px; position: relative; z-index: -1;}
.lang img {height: 20px; padding-right: 10px;}
h1 {font-size: 40px; letter-spacing: 4px; margin: 10px 0px;  text-transform: uppercase; text-align: center;}
h2 {margin: 5px 0px 10px; background: linear-gradient(to left, #ffffff, #ff0000, #ffffff 100%); background-position: 0 100%; background-size: 100% 2px; background-repeat: repeat-x;  display: -webkit-inline-box;}
h3 {margin: 5px 0px 10px; background: linear-gradient(to left, #ffffff, #ff0000, #ffffff 100%); background-position: 0 100%; background-size: 100% 2px; background-repeat: repeat-x;  display: -webkit-inline-box;}
h3 a {text-decoration: none; font-size: 30px; letter-spacing: 2px; color: #333;}
.menu ul {display: flex; justify-content: space-between; align-items: center; list-style: none; padding: 0 75px;}
.menu a {position: relative; transition: 0.8s; text-decoration: none; background-image: linear-gradient(#fff, #fff); background-position: 0% 100%; background-repeat: no-repeat; background-size: 0% 2px; font-size: 16px;  display: -webkit-inline-box; font-weight: 300; line-height: 50px; color: #333; text-transform: uppercase; letter-spacing: 2px;}
.menu a:hover, .menu a:active, .menu a:focus {background-image: linear-gradient(to right, #ff0000, #ffffff 100%); background-position: 0 100%; background-size: 100% 2px; background-repeat: no-repeat;  display: -webkit-inline-box; color: #3e7ec8; font-weight: 600;}
.column12 ul>li:last-child {width: 66.66666666% !important;}
.animated {-webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both;}
.animated:nth-child(1) {-webkit-animation-delay: 0.3s; animation-delay: 0.3s;}
.animated:nth-child(1) > .row > .column1 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.animated:nth-child(1) > .row > .column2 {
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}
.animated:nth-child(2) {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}
.animated:nth-child(2) > .column11 {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}
.animated:nth-child(2) > .column12 {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}
.animated:nth-child(2) > .column13 {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}



.animated:nth-child(3) {
-webkit-animation-delay: 0.9s;
animation-delay: 0.9s;
}
.animated:nth-child(4) {
   -webkit-animation-delay: 1.2s;
   animation-delay: 1.2s;
}

.animated:nth-child(5) {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
 }

 .animated:nth-child(6) {
    -webkit-animation-delay: 1.8s;
    animation-delay: 1.8s;
 }
  
@-webkit-keyframes fadeInDown {
    0% {
       opacity: 0;
       -webkit-transform: translateY(-20px);
    }
    100% {
       opacity: 1;
       -webkit-transform: translateY(0);
    }
 }
 
 @keyframes fadeInDown {
    0% {
       opacity: 0;
       transform: translateY(-20px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
 }

 .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
 }


 @media (max-width: 1340px) {    
     .vright, .vleft {padding: 0px;}
    }
 @media (max-width: 1130px) {
     body {display: block;}
    header {width: 100%; left: 0; position: relative; height: 50px;}
    aside {width: 100%;}
    .column1, .column2 {width: 100%; padding: 0px; background: none;}
    .column11, .column12, .column13 {width: 100%;}
    .row {display: block; margin: 0 auto;}
    main {width: 100%; padding: 0px;}
    .menu ul {padding: 0 20px; margin: 0px;}
    section {padding: 20px !important;}
    .menu a {letter-spacing: 1px; font-size: 12px;}
    .column11 ul, .column12 ul {max-width: 100%;}
    .vright, .vleft {width: 100%;}
    .imac, .iphone {display: none;}
    #projects .row {padding: 5px; margin: 20px 0px; width: 100%;}
    h3 a {font-size: 16px;}
    .row p {font-size: 12px;}
    .column41, .column42 {width: 100%; display: block; padding: 0px;} 
    .lang p {line-height: 20px; margin: 10px 0px;}
    footer {width: 100%; left: 0; position: relative;}
    .podval {padding: 0 30px;}
}